.Btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #000;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px
}

.Btn:focus {
  outline: none;
  background: linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
}

.Btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
}

.Btn:active {
  box-shadow: inset 2px 2px 1px rgba(0,0,0, .3);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
}

.Btn:disabled {
background: linear-gradient(0deg, #C4C4C4, #C4C4C4), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%);
  color: #000;
  cursor: not-allowed;
}

.error {
background: rgba(240, 87, 108, 1);
}

.success {
background: rgba(161, 240, 69, 1);
}

.primary {
background: #2884f6;
color: #fff;
}
