.Attach {
  margin-left: 25px;
  margin-top: 65px;
  color: #0055FB;
  cursor: pointer;
  width: 160px;
  font-family: SF Pro Text;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #0055FB;
}
