.Upload {
position: absolute;
width: 780px;
height: 500px;
/* left: 0px; */
top: 30px;
margin: 0;
padding: 10px;
background: rgba(255, 255, 255, 0.8);
border: 2px solid #CCCCCC;
box-sizing: border-box;
border-radius: 5px;
}
.Upload div {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  border: 2px dashed #CCCCCC;
}

.Upload h2 {
position: absolute;
left: 50%;
top: 25%;
transform: translateX(-50%);
font-family: SF Pro Text;
font-size: 25px;
line-height: 40px;
/* identical to box height, or 133% */

display: flex;
align-items: center;
text-align: center;

color: #000000;

}
.Upload p {
  position: absolute;
left: 50%;
transform: translateX(-50%);
margin-top: 15%;
font-family: SF Pro Text;
font-size: 16px;
line-height: 25px;
/* or 156% */

display: flex;
align-items: center;
text-align: center;

color: #000000;

}
.span {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 35px;
  top: 45px;
  font-weight: bold;
  cursor: pointer;
  z-index: 100;
  align-items: center;
  text-align: center;
}
